@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html, body{
    /* display: flex; */
    font-family: 'Roboto', sans-serif;
    /* margin: 10px; */
    /* flex: 1; */
    margin: 0;
    font-weight: 400;
    background-color: rgba(0,0,0,0.25);
}
#livros{
    margin: 16px;
    display: flex;
    flex: 1;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}
.container-center{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-linha{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
.container-coluna{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.txt-centro{
    text-align: center;
}
.itens-centro{
    align-items: center;
}
.spacer{
    margin-top: 10%;
}
.margin-8{
    margin: 8px;
}
.titulo{
    padding: 16px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.sub-titulo{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #005282;
    border-radius: 4px;
}
.backgroud-tema{
    background-color: #6e7072;
    border-radius: 8px;
    color: white;
}
.invisivel{
    display: none !important;
}
